section {
  display: block;
 font-family: 'Bungee', san-serif;
 margin-top: 20px;
}

section h2 {
  font-family: 'Bungee Shade', san-serif;
}

label {
  margin: auto;
  position: absolute;
}

textarea {
  font-family: 'Source Sans Pro', san-serif;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: solid;
  padding: 20px 20px 0px;
  margin: 20px 0px 20px;
  width: 100%;
  white-space: pre-wrap;
}

button {
  float: left;
  padding: 10px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4056A1;
  border: black;
  border-radius: 15px;

}

button:hover {background-color: darkblue}

button:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}

output {
  float: right;
  padding: 10px 20px 20px;
}

footer {
  height: 40px;
}

.error-message {
  border: 5px solid red;
  font-family: 'Bungee', san-serif;
  color: red;
  text-align: center;
  height: auto;
  display: none;
}